@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: black;
}

h2 {
  font-size: 46px;
  line-height: 64px;
  color: rgba(6, 6, 6, 0.992);
  font-weight: bold;
}

h4 {
  font-size: 20px;
  color: rgb(4, 4, 4);
  font-weight: bold;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 19px;
  color: rgb(181, 28, 51);
  margin: 15px 0 20px 0;
  font-weight: bold;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 24px;
  font-weight: bold;
  padding: 15px 30px;
  color: black;
}

body {
  width: 100%;
}

/****************************************** Start of Navbar **********************************************/
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: rgba(37, 35, 35, 0.959);
  box-shadow: 0 5px 15 px rgba(193, 23, 23, 0.992);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

.brand-logo {
  width: 7rem;
  height: 7rem;
  border-radius: 5rem;
}

.brand-logo:hover {
  opacity: 50%;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
  color: rgb(248, 243, 243);
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: #ffecf9;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #ffb5e8;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

.fa-bag-shopping {
  color: #ffecf9;
  font-size: 1.7rem;
  transition: 0.3s ease;
}

.fa-bag-shopping:hover {
  color: rgba(250, 249, 249, 0.999);
}
/****************************************************** Home Page Start ***************************************/
#hero {
  background-image: url(/images/Heels.jpg);
  background-repeat: no-repeat;
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h4 {
  padding-bottom: 15px;
}

#hero h1 {
  color: #ffaae4;
}

#hero button {
  background: linear-gradient(to right, rgb(216, 11, 11), rgb(85, 5, 5));
  color: aliceblue;
  padding: 14px 20px 14px 25px;
  border-radius: 3rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  border-style: none;
}

#hero button:hover {
  background: linear-gradient(to right, rgb(222, 42, 42), rgb(249, 247, 247));
  color: black;
  transition: 0.3s ease-in-out;
}
/************************* Start of features ************************************************ */
#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgb(53, 13, 13);
  border: 1px solid rgb(6, 6, 6);
  border-radius: 4px;
  margin: 15px 0;
}
#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgb(53, 13, 13);
}

.image1 {
  width: 10rem;
  height: 7rem;
  margin-bottom: 0.5rem;
}
.image2 {
  width: 9.5rem;
  height: 7rem;
  margin-bottom: 0.5rem;
}

.image3 {
  width: 6rem;
  height: 7rem;
  margin-bottom: 0.5rem;
}

#feature .fe-box h6 {
  padding: 9px 0px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: rgb(170, 15, 46);
  background-color: rgba(216, 209, 209, 0.898);
  font-weight: bold;
}

#feature .fe-box:nth-child(2) h6 {
  background-color: crimson;
  color: white;
}
#feature .fe-box:nth-child(4) h6 {
  background-color: crimson;
  color: white;
}
#feature .fe-box:nth-child(6) h6 {
  background-color: crimson;
  color: white;
}

/********************************** start of products  ********************************/

.pro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.product {
  justify-content: center;
  align-items: start;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.product img {
  width: 270px;
  height: 320px;
  margin: 0 auto;
  object-fit: cover;
}
.pro:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 15px rgb(105, 14, 28);
}
.des h5 {
  text-align: center;
  padding-right: 10px;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.buyBtn {
  background: linear-gradient(to right, rgb(216, 11, 11), rgb(85, 5, 5));
  color: aliceblue;
  /* padding: 14px 20px 14px 25px; */
  padding: 10px 20px;
  border-radius: 3rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  border-style: none;
}
.buyBtn:hover {
  background: linear-gradient(to right, rgb(222, 42, 42), rgb(249, 247, 247));
  color: black;
  transition: 0.3s ease-in-out;
}

#product1 h2 {
  text-align: center;
}
#product1 p {
  text-align: center;
  font-size: 30px;
}
/************************************* banner section start ************************/
#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(images/balckBanner.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

#banner h4 {
  color: white;
  font-size: 36px;
}
#banner h2 {
  color: white;
  font-size: 57px;
  padding: 10px 0;
}

#banner h2 span {
  color: rgb(200, 24, 24);
}

#banner button {
  background: linear-gradient(to right, rgb(216, 11, 11), rgb(85, 5, 5));
  color: aliceblue;
  padding: 14px 20px 14px 25px;
  border-radius: 3rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  border-style: none;
}

#banner button:hover {
  background: linear-gradient(to right, rgb(222, 42, 42), rgb(249, 247, 247));
  color: black;
  transition: 0.3s ease-in-out;
}

/*********************************** logo start ***********************/
#brand.container33 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: rgb(254, 254, 254);
  /* box-shadow: 0 4px 6px rgb(195, 16, 16); */
}
#brand.container33 img {
  width: 300px;
  height: 150px;
  object-fit: contain;
  border-radius: 5px;
}
/********************************************** Start of Newsletter ******************/

#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgba(239, 236, 237, 0.833);
  padding: 14px 20px 14px 25px;
}

#newsletter h4 {
  font-size: 25px;
  font-weight: bold;
}

#newsletter p {
  font-size: 19px;
  font-weight: 600;
  color: black;
}

#newsletter p span {
  color: #ffa6e3;
}

#newsletter .form {
  display: flex;
  width: 40%;
}

#newsletter input {
  height: 3.126rem;
  width: 90%;
  padding: 0 1.25em;
  border: 1px solid transparent;
  border-radius: 4px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  outline: none;
}

#newsletter button {
  background: linear-gradient(to right, rgb(216, 11, 11), rgb(85, 5, 5));
  color: rgb(251, 253, 255);
  padding: 10px 19px 3.7px 20px;
  /* border-radius: 0.5rem; */
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  border: none;
}

#newsletter button:hover {
  background: linear-gradient(to right, rgb(222, 42, 42), rgb(249, 247, 247));
  color: black;
  transition: 0.3s ease-in-out;
}
/********************************** start of footer ********************************/
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #ffecf9;
}
footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1px;
}
footer .brand-logo {
  margin-bottom: 30px;
}

footer h4 {
  font-size: 25px;
  padding-bottom: 20px;
}

footer p {
  font-size: 15px;
  margin: 0 0 8px 0;
  color: rgb(1, 1, 1);
}

footer a {
  font-size: 20px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin-bottom: 15px;
  font-weight: 600;
}
footer a:hover {
  color: #ffa6e3;
  transition: 0.3s ease-in-out;
}

footer .icon a {
  margin-top: 4px;
  color: rgb(0, 0, 0);
  font-size: 3rem;
}

footer i:hover {
  color: #ffa6e3;
  transition: 0.3s ease-in-out;
}

footer .copyright {
  width: 100%;
  text-align: center;
}

.container {
  display: flex;
  justify-content: left;
  padding-left: 20%;
  align-items: center;
  background-image: url(images/contactbackground_Deblur.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.69;
  height: 90vh;
  width: 100%;
}
.container form {
  width: 700px;
  height: 700px;
  border-style: solid;
  display: flex;
  background-color: rgb(17, 17, 16);
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 1rem;
}

.container form h1 {
  color: rgb(200, 24, 24);
  font-weight: 700;
  line-height: 2;
  margin-top: 30px;
  width: 500px;
}

.container form input {
  width: 300px;
  height: 50px;
  padding-left: 10px;
  outline: none;
  border: none;
  font-size: 20px;
  margin-bottom: 10px;
  background: none;
  border-bottom: 2px solid rgb(200, 24, 24);
  color: rgb(250, 246, 246);
}
.container form input::placeholder {
  color: rgb(245, 238, 238);
}
.container form #lastName,
.container form #phone {
  margin-left: 20px;
}

.container form h4 {
  color: rgb(248, 241, 241);
  font-weight: 300;
  width: 600px;
  margin-top: 20px;
}
.container form textarea {
  background: none;
  border: none;
  border-bottom: 2px solid rgb(200, 24, 24);
  color: rgb(247, 239, 239);
  font-weight: 200;
  font-size: 20px;
  padding: 10px;
  outline: none;
  min-height: 90px;
  max-height: 90px;
  min-width: 620px;
  max-width: 620px;
}

.container form h4 {
  font-size: 20px;
}

.container form #button {
  border: none;
  background: linear-gradient(to right, rgb(216, 11, 11), rgb(85, 5, 5));
  border-radius: 5px;
  margin-top: 20px;
  font-weight: 600px;
  font-size: 24px;
  color: white;
  width: 150px;
  height: 60px;
  text-align: center;
  transition: 0.3s;
}

.container form #button:hover {
  background: linear-gradient(to right, rgb(222, 42, 42), rgb(249, 247, 247));
  color: #ffa6e3;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  padding: 20px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
